* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.container_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #2600ff;
    color: #ffffff;
    border: none;
    font-size: 48px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    box-shadow: 3px 3px 20px #ff0000;
}
